@use '../layout/layout';
@import   '../vars';
.home__container {
  @extend %mainContainer;
  grid-template-rows: repeat(2, 1fr);
}
.heroContainer{
  width: 90%;
  height: 276px;
  margin: 60px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  max-width: 450px;
  color: $color-secondary; 
  font-size: $fs-small-three;
  font-family:  $font-f-primary;
  text-align: center;
  &-title {
    color: $color-white;
    font-size:80px;
    font-family: $font-f-secondary;
    text-transform: uppercase;
    line-height: 100px;
    font-style: normal;
  }
  &-description {
    font-weight: 400;
    font-size: $fs-small-three;
    line-height: 25px;
    font-family: $font-f-primary;
  }
  &-text{
    @extend %sectionPageTitle;
  }
}
.btnContainer{
  display: flex;
  justify-content: center;
  align-items: center;

  &-mainBtn{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    font-size: $fs-small-two;
    text-transform: uppercase;
    font-family: $font-f-secondary;
    background-color: $color-white;
    border: 1px solid $color-white;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 1.25px;
  }
}

@media  (min-width: 480px)  {
  
  .heroContainer{
    height: 382px;
    margin: 0;
    height: 334px;
    &-title{
      font-size: $fs-big-headin1
    }
    
  }
  .btnContainer{
    width: 100%;
    height: 100%;
    align-items: flex-end;
    &-mainBtn{
      width: 242px;
      height: 242px;
      font-size: $fs-big-headin4;
    }
  }
  
}
@media (min-width:768px){
  .home__container{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
   
  }
  .heroContainer {
    align-items: flex-start;
    min-height: 382px;
    &-description{
      text-align: justify;
    }
    &-title {
      font-size: $fs-big-headin1
    }
  }
  .btnContainer:hover{
    button{
      cursor: pointer;
    }
  }
}

